.App {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
.navbar {
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  padding: 1rem;
}

.navbar input {
  outline: none;
  border: 1px solid black;
  background-color: white;
  width: 30%;
  padding: 0.5rem;
  margin-inline: 0.5rem;
  border-radius: 10px;
}
.navbar button {
  color:#fcff9e;
  width: 100px;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color:#d53369;
  cursor: pointer;
}

.navbar button:hover {
  color: white;
  background-color: black;
  border-color: white;
}

.user-details {
  padding-inline: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.user-details p {
  flex: 1;
  height: 30px;
  padding: 0.3rem;
  margin-block: 0.3rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.user-details p:first-child {
  flex: 0.5;
  text-align: center;
}
.user-details p:nth-child(3) {
  flex: 1.5;
}
.user-details p:last-child {
  flex: 0.5;
  text-align: center;
  border-right: 1px solid black;
}

.add-user {
  width: 70%;
  height: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.add-user h1{
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.add-user label {
  width:100%;
color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-block: 0.5rem;
}

.add-user span {
  flex: 1.5;
  font-size: 1.1rem;
}

.add-user input {
  outline: none;
  border: 1px solid black;
  flex: 2;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.1rem;
  margin-inline: 0.5rem;
}

.add-user button {
  width: 100px;
  outline: none;
  border: none;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: black;
  margin-block: 1rem;
  cursor: pointer;
}

.add-user button:hover {
  background-color: #d53369;
  color: black;
  border:1px solid black ;
}

.error {
  position: absolute;
  width: 100%;
  text-align: center;
  color: crimson;
  font-size: 2rem;
}

.table-heading {
  font-weight: bold;
  color: white;
  background-color: black;
}