.App {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  padding: 1rem;
}

.navbar input {
  outline: none;
  border: 1px solid black;
  background-color: white;
  width: 50%;
  padding: 0.5rem;
  margin-inline: 0.5rem;
  border-radius: 10px;
}
.navbar button {
  color:#fcff9e;
  width: 100px;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color:#d53369;
  cursor: pointer;
}

.navbar button:hover {
  color: white;
  background-color: black;
}

.user-details {
  padding-inline: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.user-details p {
  flex: 1;
  padding: 0.3rem;
  margin-block: 0.3rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.user-details p:first-child {
  flex: 0.5;
  text-align: center;
}
.user-details p:nth-child(3) {
  flex: 1.5;
}
.user-details p:last-child {
  flex: 0.5;
  text-align: center;
  border-right: 1px solid black;
}

.add-user {
  width: 70%;
  height: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.add-user h1{
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.add-user label {
  width:100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-block: 0.5rem;
}

.add-user span {
  flex: 1.5;
  font-size: 1.1rem;
}

.add-user input {
  outline: none;
  border: 1px solid black;
  flex: 2;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.1rem;
  margin-inline: 0.5rem;
}

.add-user button,.back {
  width: 100px;
  outline: none;
  border: none;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: black;
  margin-block: 1rem;
  cursor: pointer;
}

.back{
  margin-left: 2rem;
  border: 1px solid #d53369;
}

.add-user button:hover {
  background-color: #d53369;
  color: black;
  border:1px solid black ;
}

.back:hover {
  background-color: #c67700;
  color: black;
  border: 1px solid #daae51;
}

.error {
  position: absolute;
  width: 100%;
  text-align: center;
  color: yellow;
  font-size: 2rem;
}

.table-heading {
  font-weight: bold;
  color: white;
  background-color: black;
}

.delete:hover {
  color: red;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .table-heading{
    display: none;
  }
  .user-details{
    border: 1px solid black;
    margin: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .user-details p {
    border: none;
  }
  .user-details p:first-child {
    background-color: black;
  }
  .user-details p:last-child {
    border: none;
  }
  .user-details p:before{
    margin-right: 0.5rem;
  }
  .user-details p:first-child::before{
    content: "UserId:";
  }
  .user-details p:nth-child(2)::before{
    content: "Username:";
  }
  .user-details p:nth-child(3)::before{
    content: "Email:";
  }.user-details p:nth-child(4)::before{
    content: "Phone:";
  }.user-details p:nth-child(5)::before{
    content: "Company:";
  }
  .user-details p span {
    margin-inline: 1rem;
  }

  .add-user {
    width: 100%;
    margin-inline: 0;
  }
  .add-user label{
    margin:0.5rem 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .add-user label span {
    font-size: 0.9rem;
  }
  .add-user input {
    width: 100%;
    font-size: 0.9rem;
  }

  .delete {
    color: #fcff9e;
  }
}